.header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding: 0 20px;
    color: #EE7B50;
    opacity: 0;
    background-color: rgba(255, 252, 241, 0.7);
    transition: opacity 0.3s ease;
}

.header div {
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .header {
        height: 40px;
    }
}